# Dependencies
node_modules/
.pnp
.pnp.js

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System & IDE Files
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Build / Output
dist/
build/
.cache/
